body {
  font-family: Segoe UI Light;
  font-size: 1.5em;
}

button {
  box-shadow: 5px 5px 5px #888888;
  border-radius: 20px;
  font-size: 1.1em;
  padding: 1em;
}

.container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.quotearea {
  width: 90%;
  margin: 20px auto 0;
}

.border {
  border: 2px solid #000;
}
